*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.50%; }

.container__logo, .container__menui, .header__title, .header__subtitle, .service__title, .section__name, .section__name2, .about__title, .section__name3, .about__paragraph, .service__brief, .portfolio__name, .portfolio__category, .about__job {
  font-family: 'Montserrat', sans-serif; }

.container__logo, .container__menui {
  font-size: 1.6rem;
  font-weight: 300;
  color: #F6F7F8; }

.header__title {
  font-size: 6rem;
  font-weight: 800;
  color: #F8B133; }

.header__subtitle {
  font-size: 3rem;
  font-weight: 400;
  color: #F6F7F8; }

.service__title, .section__name, .section__name2, .about__title, .section__name3 {
  font-size: 2rem;
  color: #F8B133;
  font-weight: 800; }

.about__paragraph {
  font-size: 1.6rem;
  color: #282C34;
  font-weight: 300; }

header {
  background-image: url(../img/bg5.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 60rem;
  box-shadow: 0px 30px 60px 5px rgba(0, 0, 0, 0.75);
  border: none; }

.container {
  width: 95%; }
  .container__logo {
    display: inline-block;
    margin-top: 4rem;
    margin-left: 6rem;
    position: absolute; }
    @media only screen and (max-width: 75em) {
      .container__logo {
        font-size: 1.40em;
        margin-top: 4rem;
        margin-left: 6rem; } }
    @media only screen and (max-width: 68.75em) {
      .container__logo {
        font-size: 1.25em;
        margin-top: 4rem;
        margin-left: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .container__logo {
        font-size: 1.15em;
        margin-top: 4rem;
        margin-left: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .container__logo {
        font-size: .95em;
        margin-top: 4rem;
        margin-left: 6rem; } }
    @media only screen and (max-width: 31.25em) {
      .container__logo {
        font-size: .82em;
        margin-top: 4rem;
        margin-left: 6rem; } }
  .container__menu {
    text-align: right; }
  .container__menui {
    margin: 4rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border-bottom: .2rem solid transparent;
    transition: all .5s;
    display: inline-block; }
    .container__menui:hover {
      border-bottom: .2rem solid #F6F7F8; }
    @media only screen and (max-width: 75em) {
      .container__menui {
        font-size: 1.40em; } }
    @media only screen and (max-width: 68.75em) {
      .container__menui {
        font-size: 1.25em; } }
    @media only screen and (max-width: 56.25em) {
      .container__menui {
        font-size: 1.15em;
        margin: 4rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .container__menui {
        font-size: .95em;
        margin: 4rem .5rem; } }
    @media only screen and (max-width: 31.25em) {
      .container__menui {
        font-size: .82em;
        margin: 4rem .3rem; } }

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 13rem 0; }
  .header__title {
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .header__title {
        font-size: 5em; } }
    @media only screen and (max-width: 68.75em) {
      .header__title {
        font-size: 4.50em; } }
    @media only screen and (max-width: 56.25em) {
      .header__title {
        font-size: 3.75em; } }
    @media only screen and (max-width: 37.5em) {
      .header__title {
        font-size: 3.30em; } }
    @media only screen and (max-width: 31.25em) {
      .header__title {
        font-size: 3em; } }
  .header__subtitle {
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .header__subtitle {
        font-size: 2.80em; } }
    @media only screen and (max-width: 68.75em) {
      .header__subtitle {
        font-size: 2.40em; } }
    @media only screen and (max-width: 56.25em) {
      .header__subtitle {
        font-size: 1.65em; } }
    @media only screen and (max-width: 37.5em) {
      .header__subtitle {
        font-size: 1.20em; } }
    @media only screen and (max-width: 31.25em) {
      .header__subtitle {
        font-size: 1em; } }

.service {
  display: flex;
  width: 95%;
  align-content: center;
  justify-content: center;
  margin: auto; }
  .service__description {
    width: 33rem;
    height: 40rem;
    background-color: #282C34;
    border-radius: 3px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 75em) {
      .service__description {
        width: 28em;
        height: 38em; } }
    @media only screen and (max-width: 68.75em) {
      .service__description {
        width: 25em;
        height: 36em; } }
    @media only screen and (max-width: 56.25em) {
      .service__description {
        width: 21em;
        height: 34em; } }
    @media only screen and (max-width: 37.5em) {
      .service__description {
        width: 19em;
        height: 33em; } }
    @media only screen and (max-width: 31.25em) {
      .service__description {
        width: 17em;
        height: 30em; } }
  .service__title {
    text-align: center;
    margin-top: 10rem; }
    @media only screen and (max-width: 75em) {
      .service__title {
        font-size: 1.80em; } }
    @media only screen and (max-width: 68.75em) {
      .service__title {
        font-size: 1.60em; } }
    @media only screen and (max-width: 56.25em) {
      .service__title {
        font-size: 1.15em; } }
    @media only screen and (max-width: 37.5em) {
      .service__title {
        font-size: 1.05em; } }
    @media only screen and (max-width: 31.25em) {
      .service__title {
        font-size: 1em; } }
  .service__brief {
    font-size: 1.6rem;
    text-align: center;
    color: #F6F7F8;
    margin-top: 5rem; }
    @media only screen and (max-width: 75em) {
      .service__brief {
        font-size: 1.80em; } }
    @media only screen and (max-width: 68.75em) {
      .service__brief {
        font-size: 1.60em; } }
    @media only screen and (max-width: 56.25em) {
      .service__brief {
        font-size: 1.15em; } }
    @media only screen and (max-width: 37.5em) {
      .service__brief {
        font-size: 1.05em; } }
    @media only screen and (max-width: 31.25em) {
      .service__brief {
        font-size: .85em; } }
  .service__image {
    width: 33rem;
    height: 40rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 75em) {
      .service__image {
        margin-right: 1.8rem; } }
    @media only screen and (max-width: 68.75em) {
      .service__image {
        margin-right: .5em; } }
    @media only screen and (max-width: 56.25em) {
      .service__image {
        margin-right: 1.2em; } }
    @media only screen and (max-width: 37.5em) {
      .service__image {
        margin-right: 1em; } }
    @media only screen and (max-width: 31.25em) {
      .service__image {
        margin-right: 0; } }
  .service__photo {
    width: 33rem;
    height: 40rem;
    object-fit: cover;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 75em) {
      .service__photo {
        width: 22.50em;
        height: 38em; } }
    @media only screen and (max-width: 68.75em) {
      .service__photo {
        width: 18em;
        height: 36em; } }
    @media only screen and (max-width: 56.25em) {
      .service__photo {
        width: 15em;
        height: 34em; } }
    @media only screen and (max-width: 37.5em) {
      .service__photo {
        width: 7em;
        height: 33em; } }
    @media only screen and (max-width: 31.25em) {
      .service__photo {
        width: 9em;
        height: 30em; } }

.section__name {
  text-align: center;
  margin-bottom: 2rem; }

.section__name2 {
  text-align: center;
  margin-top: 10.4rem;
  margin-bottom: 2rem; }

.portfolio {
  background-color: #FFEFD6;
  padding: 6rem; }
  .portfolio__container {
    overflow: hidden; }
  .portfolio__jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .portfolio__job {
    width: 23%;
    margin-bottom: 40px; }
  .portfolio__thumb {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.75); }
  .portfolio__thumbimg {
    width: 100%;
    vertical-align: top;
    border-radius: 3px; }
  .portfolio__description {
    text-align: center; }
  .portfolio__name {
    color: #F8B133;
    font-weight: 400;
    font-size: 1.7rem; }
    @media only screen and (max-width: 75em) {
      .portfolio__name {
        font-size: 1.50em; } }
    @media only screen and (max-width: 68.75em) {
      .portfolio__name {
        font-size: 1.25em; } }
    @media only screen and (max-width: 56.25em) {
      .portfolio__name {
        font-size: 1.15em; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__name {
        font-size: 1.05em; } }
    @media only screen and (max-width: 31.25em) {
      .portfolio__name {
        font-size: 1em; } }
  .portfolio__category {
    color: #282C34;
    font-weight: 300;
    font-size: 1.4rem; }
    @media only screen and (max-width: 75em) {
      .portfolio__category {
        font-size: 1.30em; } }
    @media only screen and (max-width: 68.75em) {
      .portfolio__category {
        font-size: 1.10em; } }
    @media only screen and (max-width: 56.25em) {
      .portfolio__category {
        font-size: 1em; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__category {
        font-size: .95em; } }
    @media only screen and (max-width: 31.25em) {
      .portfolio__category {
        font-size: .85em; } }

.about__me {
  overflow: hidden; }

.about__photo {
  text-align: center;
  margin-top: -7.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }

.about__picture {
  border-radius: 50%;
  width: 15rem;
  border: 5px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.75); }

.about__job {
  font-weight: 300;
  color: #282C34;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10.4rem; }

.about__title {
  text-align: center;
  margin-bottom: 2rem; }

.about__paragraph {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 14rem; }

.contact__container {
  padding: 6rem 0; }

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.contact__form input[type="text"], .contact input[type="email"], .contact textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #21252B; }

.contact__form input[type="text"]:focus, .contact input[type="email"]:focus, .contact textarea:focus {
  border: 2px solid #21252B; }

.contact__form input[type="text"], .contact input[type="email"] {
  width: 49%;
  margin-bottom: 15px; }

.contact__form textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px; }

.btn {
  margin: auto;
  background: #F8512F;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer; }
  .btn:hover {
    background-color: #F8B133; }

.section__name3 {
  text-align: center;
  margin-top: 10.4rem;
  margin-bottom: 2rem; }

.social-media__container {
  background-color: #FFEFD6;
  display: flex;
  align-content: center;
  height: 10rem; }

.footer {
  background-color: #FFEFD6; }
  .footer__copyright {
    font-size: 1.5rem;
    text-align: center;
    color: #F8512F; }
